<div class="masthead clearfix">
	<div class="inner">
		<h3 class="masthead-brand">Shrishyl V</h3>
		<nav class="nav nav-masthead app-nav">
			<%= nav_generator 'nav-link', 'span' %>
			<%= login_helper 'nav-link' %>
		</nav>
	</div>
</div>