<div class="about-me-container">
	<div class="card">
		<h1>About Me</h1>

		<hr>

		<div class="row">
			<div class="col-md-4">
				<%= image_tag "shrishyl_pic.jpg", width: 320, alt: "No image found" %>
			</div>

			<div class="col-md-8">
				<p>With over 3 years of development experience in a number of industries I realized that the typical product creation process between clients and developers was flawed. All too often developers rarely communicate to clients throughout the development stage, resulting in a final product that fails to reach the goal sought by the customer and end user.</p>
				<p>For this very reason I decided to utilize a completely different development pattern that focuses on highly focused communication and transparent design patterns. When I take on a project not only do I work to craft the application according to the client's specifications, I give daily updates to ensure that the project is aligning properly with the client's goals. The end result is the right product, delivered on time.</p>

				<p>
					<div>
						<button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#jobHistory"
						aria-expanded="false" aria-controller="jobHistory">
							Job History
						</button>

						<button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#techStack"
						aria-expanded="false" aria-controller="techStack">
							Tech Stack
						</button>
					</div>
				</p>

				<p>
					<div class="collapse" id="jobHistory">
						<div class="card card-block">
							Job1
						</div>
						<div class="card card-block">
							Job2
						</div>
					</div>

					<div class="collapse" id="techStack">
						<div class="card card-block">
							Java
						</div>
						<div class="card card-block">
							HTML
						</div>
					</div>
				</p>
			</div>
		</div>
	</div>
</div>