<div class="contact-me-container">
	<div class="card">

		<h2>Would you like to work together?</h2>
		<hr>

		<div class="row">
			<div class="col-md-6">
				<h5>LinkedIn:</h5>
				<p>linkedin.com/in/shrishyl-v/</p>

				<h5>Email:</h5>
				<p>shrishyl47@gmail.com</p>

				<h5>Stack Overflow:</h5>
				<p>stackoverflow.com/users/5847951/shrishyl47</p>

				<h5>Twitter:</h5>
				<p>twitter.com/shrishyl</p>

				<!-- <p><b>LinkedIn : </b>linkedin.com/in/shrishyl-v</p> -->
				<!-- <p><b>Email : </b>shrishyl47@gmail</p> -->
				<!-- <p><b>Twitter : </b>@shrishyl</p> -->
			</div>

			<div class="col-md-6">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d248849.8865391384!2d77.4908544345042!3d12.95395998807237!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1670c9b44e6d%3A0xf8dfc3e8517e4fe0!2sBengaluru%2C%20Karnataka!5e0!3m2!1sen!2sin!4v1615912337521!5m2!1sen!2sin" width="500" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
			</div>
		</div>
	</div>
</div>