<div class="inner cover">
	<h1 class="cover-heading">Latest tweets on Rails</h1>

	<div class="row">
		<% @tweets.each do |tweet| %>
		<div class="col-md-12">
			<div class="tech-news">
				<div class="card">
					<%= tweet %>	<!--<%= twitter_parser tweet %>-->
				</div>
			</div>
		</div>
		<% end %>
	</div>
</div>